* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: lightslategray;
}

button {
    font-size: x-large;
    font-weight: bolder;
    border-radius: 25px;
    border: 0;
}

.functions {
    background-color: lightblue;
}
.operators {
    background-color: lightcoral;
}
.numbers {
    background-color: lightgreen;
}

#displayDiv {
    border-radius: 20px;
    border: 0;
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke
}


#calculatorDiv {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#keypadDiv {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 5px;
    padding: 5px;
}

#keypadDiv>div {
    display: flex;
    flex: 1;
    gap: 5px;
}

button {
    flex: 1;
    padding: 5%;
}

#equals {
    flex: 2.9;
}